*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
nav{
    height:4vmax;
    display: flex;
    align-items: center;
    box-shadow: 0 0 50px rgb(86, 78, 78);
    position: sticky;
    top:0;
    background-color: white;
    z-index: 1000;
}
.left{
    width: 20%;
    display: flex;
    justify-content: center;
}
.mid{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}
.mid>a{
    text-decoration: none;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    font-size: 1.4vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mid>a:hover{
    border-bottom: 3px solid crimson;
}
.right{
    width: 20%;
    display: flex;
    justify-content: center;
}
.left>a{
    text-decoration: none;
    color: crimson;
    font-size: 2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right>img{
    width: 2vmax;
    margin: 1vmax;
}
.home{
    height: 90vh;
    background-image: linear-gradient(to right, rgb(243, 189, 183), salmon);
    display: flex;
}
.container{
    width: 100%;

}
#rightContainer{
    display: flex;
    justify-content: flex-end;
}
#rightContainer>img{
    margin-right: 5vmax;
    filter: drop-shadow(0 0 10px black);
}
#leftContainer{
    display: flex;
    flex-direction: column;
    padding: 3vmax;
    box-sizing: border-box;
    text-align: justify;
    justify-content: center;
}
#leftContainer>h1{
    font-size: 5vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#leftContainer>h2{
    margin-top: -8%;
    font-size: 2vmax;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#leftContainer>p{
    font-size: 1.2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#leftContainer>button{
    width: 10vmax;
    padding: 1vmax;
    background-color: crimson;
    border-radius: 2vmax;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin: 3%;
    margin-left: 1.2vh;
}
#leftContainer>button:hover{
    background-color: rgb(220, 20, 20);
}

#products>h1{
    text-align: center;
    margin: 4vmax auto;
    font-size: 2.6vmax;
    border-bottom: 5px solid red;
    width: 20vw;
    padding: 1vmax;
}
.productsContainer{
    max-width:80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    display: flex;
    transition: all 0.3s;
    height: 30vmax;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 1vmax;
}
.product>img{
    width: 20vmax;
}
.product>h4{
    margin: 0.5vmax;
}
.product>h5{
    margin:-0.5vmax;
}
.product:hover{
    transform: translateY(-10px);
}
footer{
    background-color: rgb(62, 59, 59);
    margin-top: 6vmax;
    color: white;
    display: flex;
    align-items: center;
}
.leftFooter{
    width: 20%; 
}
.midFooter{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightFooter{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.images>img{
    height: 2.7vmax;
    margin-left: 1vh;
    cursor: pointer;
}
.leftFooter>h3,p{
    text-align: center;
}
.midFooter>h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    font-weight: 600;
}
.midFooter>p{
    width: 55%;
    margin: auto;
}
.midFooter>h4{
    text-align: center;
}
.rightFooter>a{
    display: block;
    text-decoration: none;
    font-size: 1vmax;
    color: white;
    padding-bottom: 5px;
}
.rightFooter>h4{
    margin-top: 0.5vmax;
    text-decoration: underline;
}

/* Responsive Making */

@media  only screen and (max-width:1082px) {
    #rightContainer>img{
        margin-right: 1vmax;
        filter: drop-shadow(0 0 10px black);
        width: 55vw;
    }
    .home{
        height: 40vh;
        background-image: linear-gradient(to right, rgb(243, 189, 183), salmon);
        display: flex;
    }
    #leftContainer>h1{
        font-size: 5vmax;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }
    #leftContainer>h2{
        margin-top: -8%;
        font-size: 2vmax;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #leftContainer>p{
        font-size: 1.5vmax;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #leftContainer>button{
        font-weight: 600;
        font-size: 1.1vmax;
    }
    nav{
        height:7vmax;
    }
    .left>a{
        font-size: 2.5vmax;
        font-weight: bolder;
    }
    .mid>a{
        width: 100%;
        font-size: 1.6vmax;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .productsContainer{
        max-width:95vw;
    }
    .product{
        height: 27vmax;
        margin: 1vmax;
    }
    .product>img{
        width: 18vmax;
    }
    footer{
        flex-direction: column;
    }
    .leftFooter{
        width: 80%; 
        font-size: x-large;
        background-color: salmon;
    }
    .midFooter{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 0, 128, 0.447);
    }
    .rightFooter{
        display: none;
    }
    .images>img{
        height: 7vw;
        margin-left: 1vh;
        cursor: pointer;
        padding: 0.5vh;
    }
    .images{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .leftFooter>h3,p{
        text-align: center;
    }
    .midFooter>h1{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3vmax;
        color: crimson;
        font-weight: 600;
    }
    .midFooter>p{
        font-style: italic;
        width: 85%;
        margin: -2vh auto;
        font-size: 1.2vmax;
    }
    .midFooter>h4{
        margin-top: 4vmax;
        text-align: center;
        font-size: xx-large;
        color: rgb(255, 255, 255);
    }

}